[submodule "src/extension/geoserver-layer-filter-extension"]
	path = src/extension/geoserver-layer-filter-extension
	url = https://github.com/aodn/geoserver-layer-filter-extension.git
	branch = master
